<h1>List of photos</h1>
<form action="/photos/create">
  <label for="image_url_id">Image</label>
  <input name="query_image_url" id="image_url_id" placeholder="Enter a URL for the image" type="text">
  <label for="image_caption_id">Caption</label>
  <textarea id="image_caption_id" name="query_image_caption" placeholder="Enter a caption for the photo..." ></textarea>
  <label for="image_user_id">Owner ID</label>
  <input id="image_user_id" placeholder="Enter an ID of a User" name="query_user_id" type="text">
  <button>Add photo</button>
</form>
<hr>
<table>
  <thead>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </thead>
  <tbody>
    <%@photos.each do |photo|%>
      <tr>
        <td><img height="300px" src="<%=photo.image%>" ></td>
        <td><%=photo.caption%></td>
        <td><%=photo.poster.username%></td>
        <td><%=photo.created_at%></td>
        <td><a href="photos/<%=photo.id%>">Show details</a></td>
      </tr>
    <%end%>
  </tbody>
</table>
